.rainbow {
    animation : rainbow 600ms;
    animation-iteration-count: infinite;
}
 @keyframes rainbow {
     0% {
         color: red;
     }

     20% {
         color: blue;
     }
     
     40% {
         color: green;
     }

     60% {
         color: yellow;
     }

     80% {
         color: orange;
     }
     
 }